.QuestionOverview {
  background-color: #3E4651;
  padding: 0.5rem 0;
}

.QuestionOverviewContainer {

}

.QuestionOverviewBox {
  position: relative;
  float: left;
  width: 10%;
  padding-top: 10%;
  font-size: 0.75rem;
  overflow: hidden;
}

.QuestionOverviewBoxInner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-right: 7%;
  padding-bottom: 7%;
  box-sizing: border-box;
  overflow: hidden;
}

.QuestionOverviewBoxInnerInner {
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  flex-flow: column nowrap;
  background-color: #11A6CE;
}

.QuestionOverviewBox:nth-of-type(10n) .QuestionOverviewBoxInner {
  padding-right: 0;
}

.QuestionOverviewBoxHeader {
  flex: 1 0 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.QuestionOverviewBoxContent {
  display: flex;
  height: 50%;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  color: #9D3A3A;
  font-weight: 600;
}

.correct {
  background-color: #2CC990;
}

.incorrect {
  background-color: #DD5152;
}

.incorrectAnswerCount{
  flex: 1 0;
  background-color: #DD5152;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ResetButton {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  height: 100%;
  background-color: #DD5152;
  cursor: pointer;
  border: none;
  padding: 0px;
  transition: background-color 0.3s;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

@media screen and (max-width: 48.75rem) {
  .QuestionOverview {
    padding: 0.5rem 0;
  }

  .QuestionOverviewBox {
    font-size: 0.5rem;
  }
}
