.Deactive {
  background: #000;
  opacity: 0.3;
  cursor: default;
}

.ExamNextButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #23212B;
  border-right: 5px solid #000;
  cursor: pointer;
  border: none;
  padding: 0px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  flex-shrink: 0;
  flex-basis: 50%;
  height: 100%;
  cursor: pointer;
}

@media screen and (max-width: 48rem) {
  .Deactive {
    opacity: 0.3;
    cursor: default;
  }
}
