.ExamNextButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DD5152;
  cursor: pointer;
  border: none;
  padding: 0px;
  flex-shrink: 0;
  flex-basis: 50%;
  height: 100%;
  cursor: pointer;
}

.Deactive {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DD5152;
  cursor: pointer;
  border: none;
  padding: 0px;
  flex-shrink: 0;
  flex-basis: 50%;
  height: 100%;
  opacity: 0.5;
  cursor: default;
}

.ExamResetButton {
  display: flex;
  justify-content: center;
  flex-basis: 50%;
  height: 100%;
  background-color: #DD5152;
  cursor: pointer;
  border: none;
  padding: 0px;
  transition: background-color 0.3s;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

@media screen and (max-width: 48rem) {
  .Deactive {
    opacity: 0.3;
    cursor: default;
  }
}
