.ResultBox {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: center;
}

.ResultBoxRow {
  flex-basis: 60px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-bottom: 20px;
}

.ResultBoxRow span{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.ResultBoxResult {
  flex-basis: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.green {
  background-color: #2CC990;
}

.red {
  background-color: #DD5152;
}
