.ResultBox {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.ResultValue {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.correctAnswerIcon {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  width: 3rem;
  height: 3rem;
  background-color: #2CC990;
  color: #fff;
}

.incorrectAnswerIcon {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  background-color: #DD5152;
  color: #fff;
}

.ResultFinalPercentage {
  border-radius: 50%;
  color: #fff;
  width: 6rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.green {
  background-color: #2CC990;
}

.red {
  background-color: #DD5152;
}
