.QuizContainer {
  min-width: 15rem;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-flow: column nowrap;
}

.QuizBodyContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 1;
}

.QuizHeader {
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  background-color: #23212B;
  height: 3.75rem;
  justify-content: space-between;
  color: #fff;
}

.QuizFooter {
  display: flex;
  width: 100%;
  height: 3.75rem;
  flex: 0 0 3.75rem;
  background-color: #22212B;
}

.QuestionNumber {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  background-color: #11A6CE;
  width: 3.75rem;
}

.OverviewIcon {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 3.75rem;
  cursor: pointer;
}

.QuestionCategory {
  display: flex;
  align-items: center;
  flex-grow: 1;
  text-align: left;
  padding: 0 1rem;
}

.QuestionImage {
  cursor: pointer;
  color: #555;
}

.QuestionImage:hover {
  color: #222;
}

.QuizBody {
  padding: 1rem;
  width: 100%;
  margin: auto;
}

.QuizCheckbox {
  border-radius: 50%;
}

.QuestionText {
  padding: 1rem 0;
}

.QuizBody ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.QuizBody li {
  background-color: #fff;
}

.QuizBody li:hover {
  background-color: #339DE5;
  color: #fff;
}

.AnswerOption {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0.85rem 0;
  cursor: pointer;
  margin-bottom: 0.5rem;
  color: #555;
  line-height: 1.2rem;
}

.AnswerOption:hover {
  color: #333;
}

.AnswerInput {
  margin: 0 0.3rem 0 0.1rem;
  cursor: pointer;
}

.disabled .AnswerInput {
  cursor: auto;
}

.disabled {
  cursor: auto;
}

.disabled:hover {
  color: #555;
}

.incorrectAnswer:hover, .correctAnswer:hover, .showCorrectAnswer:hover {
  color: #fff;
}

.incorrectAnswer, .correctAnswer, .showCorrectAnswer {
  color: #fff;
}

.incorrectAnswer {
  background-color: #DD5152;
}

.correctAnswer {
  background-color: #2CC990;
}

.showCorrectAnswer {
  background-color: #11A6CE;
}

.NextQuestionButton {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  height: 100%;
  background-color: #DD5152;
  cursor: pointer;
  border: none;
  padding: 0px;
  transition: background-color 0.3s;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

.UserScore {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #23212B;
  color: #fff;
  flex-basis: 50%;
  flex-shrink: 0;
}

.UserProgress {
  position: absolute;
  top:0;
  bottom: 0;
  left:0;
  background-color: #2CC990;
  height: 100%;
}

.Score {
  z-index: 1;
}

.Hidden {
  display: none;
}

.visible {
  cursor: pointer;
}

.UserProgressBarContainer {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.UserProgressBar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 3rem;
}

.UserProgressBarIncomplete {
  flex-grow: 1;
  height: 100%;
  background-color: #222;
}

.UserProgressBarCorrect {
  height: 100%;
  background-color: #2ECC71;
}

.ResultBar {
  height: 5rem;
}

.Black {
  background-color: #222;
}

.Yellow {
  background-color: #FFC107;
}

.Red {
  background-color: #DD5152;
}

@media screen and (max-width: 48.75rem) {
  .QuizContainer {
    height: 100%;
    justify-content: space-between;
  }

  .QuizBodyContainer {
    height: 100%;
    overflow-y: auto;
    flex-shrink: 1;
  }
}
