#homePage {
  width: 100vw;
  height: 100vh;
  background-color: #23212B;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  overflow-y: auto;
}

.HomeContainer{
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 100%;
  margin: 1rem;
  background: url('./../../svg/forwards-arrow.svg') 98% 50% no-repeat;
  background-size: 1rem 1rem;
}

a {
  color: #fff;
  text-decoration: none;
}

.ubung {
  background-color: #37B1E3;
}

.prufung {
  background-color: #DD5152;
}

.alleFragen {
  background-color: #2CC990;
}
