.ExOvContainer {
  min-width: 15rem;
  max-width: 40rem;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem 0;
}

.ExOvHeader {
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  background-color: #DD5152;
  height: 3.75rem;
  justify-content: space-between;
  color: #fff;
}

.ExOvTitle {
  display: flex;
  align-items: center;
  flex-grow: 1;
  text-align: left;
  padding: 0 1rem;
}

.ExOvTitleLeft {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,.4);;
  width: 3.75rem;
  height: 100%;
}

.ExOvBodyContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 1;
}

.ExOvBody {
  padding: 1rem;
  width: 100%;
  margin: auto;
  padding: 0.5rem 0;
}

.ExamQuestionOverviewBox {
  position: relative;
  float: left;
  width: 20%;
  padding-top: 20%;
  font-size: 0.8rem;
  overflow: hidden;
}

.ExamQuestionOverviewBoxInner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-right: 7%;
  padding-bottom: 7%;
  box-sizing: border-box;
  overflow: hidden;
}

.ExamQuestionOverviewBoxInnerInner {
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.3);
}

.ExamQuestionOverviewBox:nth-of-type(5n) .ExamQuestionOverviewBoxInner {
  padding-right: 0;
}

.correct {
  background-color: #2CC990;
}

.incorrect {
  background-color: #DD5152;
}

.ResetButton {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  height: 100%;
  background-color: #DD5152;
  cursor: pointer;
  border: none;
  padding: 0px;
  transition: background-color 0.3s;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

@media screen and (max-width: 48.75rem) {
  .ExOvContainer {
    padding: 0;
  }

  .ExOvBody {
    padding: 0.5rem 0;
  }
}
