.ExamUserProgressContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  background-color: #23212B;
  color: #fff;
  height: 100%;
}

.ExamUserProgress {
  position: absolute;
  top:0;
  bottom: 0;
  left:0;
  background-color: #11A6CE;
  height: 100%;
}

.ExamScore {
  z-index: 1;
}
