.ExamUserProgressContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  background-color: #23212B;
  color: #fff;
  height: 100%;
}

.ExamUserProgressCorrect {
  position: absolute;
  top:0;
  bottom: 0;
  left:0;
  background-color: #2CC990;
  height: 100%;
}

.ExamUserProgressIncorrect {
  position: absolute;
  top:0;
  bottom: 0;
  right:0;
  background-color: #DD5152;
  height: 100%;
}

.ExamScore {
  z-index: 1;
}
