* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: #3E4651;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  height: 100%;
  font-size: 1rem;
  color: #333;
  line-height: 1.5rem;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  overflow-y: auto;
}

.Footer {
  height: 3.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 1.2rem;
  font-weight: 300;
}

.site-logo {
  margin-right: 0.5rem;
  width: 2rem;
  height: 2rem;
}

.headerContainer {
  color: #fff;
  height: 3.75rem;
  overflow: hidden;
  display: flex;
  flex-shrink: 0;
}

.headerLeftSection {
  box-sizing: border-box;
  flex: 0 0 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerCenterSection {
  box-sizing: border-box;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.headerRightSection {
  box-sizing: border-box;
  flex: 0 0 3rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 1rem;
}

.Container {
  max-width: 40rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  align-items: center;
}

@media screen and (max-width: 40rem) {

  h1 {
    font-size: 1rem;
  }

  .headerCenterSection {
    padding: 0 0.5rem;
  }

  .Container {
    height: 100%;
    align-self: flex-start;
  }

  .App {
    justify-content: flex-start;
    overflow-y: hidden;
  }

  .Footer {
    display: none;
  }

  .headerContainer {
    display: none;
  }
}
