.selectLocation {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 15rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.selectLocation select {
  flex-basis: 100%;
  border-radius: 0;
  background: #3E4651 url('./../../../svg/icon-chevron.svg') 95% 50% no-repeat;
  cursor: pointer;
  color: #fff;
  font-size: 1rem;
  padding: 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}

.selectLocation option {

}

.selectLocation option:checked, .selectLocation option:hover {
  background: #37B1E3;
}
